$colorAHref : coral;



.cardText{
  a{
    color: #1c69a9;
    text-decoration: none;
    border-bottom: 1px solid rgba(28,105,169,.4);
    &:hover{
      color: $colorAHref;
      border-bottom-color:  $colorAHref;
    }
  }
}

.dialog-content{
  max-width: initial !important;
}