.page-wrap{
  main{
    text-align: justify;
    font-size: 16px;
    max-width: 100%;
    em{
      font-size: 14px;
      font-style: italic;
      color: dimgrey;
    }
    blockquote{
      font-style: italic;
      color: dimgray;
    }
    h1{

      color:#792B8E; //, #532F91
      line-height: 40px;
      font-size: 30px;
      margin-bottom: 25px;
    }
  }
  img{
    max-width: 90%;
  }
}

@media (max-width: 767px) {
  .page-wrap{
    main{
       font-size: 14px;
      em{
        font-size: 12px;
      }
       h1{

        color:#792B8E; //, #532F91
        line-height: 25px;
        font-size: 22px;
        margin-bottom: 20px;
      }
    }
    img{
      max-width: 90%;
    }
  }
}